@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&family=Montserrat&display=swap');
:root {
	--primary: rgb(172, 59, 97);
	--primary-trans: rgb(172, 59, 97, 0.9);
	--secondary: rgb(18, 60, 105);
	--secondary-trans: rgb(18, 60, 105, 0.9);
	--mid: rgb(107, 60, 101);
	--dark: rgb(186, 178, 181);
	--light: rgb(238, 226, 220);
}

* {
	box-sizing: border-box;
	margin: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Montserrat', sans-serif;
	color: var(--secondary);
	line-height: 2.5em;
	background-color: var(--light);
}

h1 {
	font-size: 2.5rem;
}
h2 {
	font-size: 2rem;
}
h3 {
	font-size: 1.5rem;
}

a {
	text-decoration: none;
	color: var(--secondary);
}

.home-container {
	text-align: center;
}

.intro-background {
	background: url('../img/taj-mahal.jpg') rgba(255, 0, 150, 0.2);
	background-size: cover;
	background-blend-mode: hard-light;
	min-height: 50vh;
	padding: 2em;
	padding-top: 3em;
}

.intro-desc-container {
	color: var(--light);
	margin: 2em auto;
	max-width: 860px;
	padding: 1em;
	background-color: var(--primary-trans);
}

.toc {
	color: var(--light);
	margin: 2em auto;
	padding: 1em;
	text-align: left;
	background-color: var(--primary-trans);
	max-width: 860px;
}

.toc a {
	color: var(--light);
	font-weight: 400;
	font-size: 1.2rem;
}

.toc a:hover {
	color: var(--secondary);
	font-weight: 700;
}

.main-content .main-card {
	padding: 2em;
}

.main-content p {
	margin: 0 auto;
	text-align: left;
	max-width: 860px;
}

.dark-card {
	background-color: rgb(186, 178, 181, 0.1);
}

.lesson-container {
	margin: 0 auto;
	padding: 1em;
	max-width: 860px;
}

.lesson-heading {
	padding: 0.5em;
	border-bottom: 0.1em solid var(--secondary);
}

.lesson-card {
	text-align: left;
	height: 400px;
	overflow: hidden;
	padding: 1em;
	margin-bottom: 1em;
}

.lesson-card img {
	margin-top: 1em;
	width: 100%;
	float: left;
	background-size: cover;
}

.site-footer {
	background-color: var(--primary);
	padding: 2.5em 2em 1em;
	font-size: 1rem;
	color: var(--light);
	line-height: 2rem;
}
.site-footer hr {
	border-top-color: var(--light);
	opacity: 0.5;
	margin: 1em 0;
}

.site-footer h6 {
	color: var(--dark);
	font-size: 1.2rem;
	text-transform: uppercase;
	margin-top: 0.3rem;
	letter-spacing: 0.2em;
}
.site-footer a {
	color: var(--light);
}
.site-footer a:hover {
	color: var(--mid);
	text-decoration: none;
}
.footer-links {
	padding-left: 0;
	list-style: none;
}
.footer-links li {
	display: block;
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
	color: var(--mid);
	text-decoration: none;
}

.site-footer .social-icons {
	text-align: right;
}

.site-footer .social-icons li {
	text-align: center;
}

.site-footer .social-icons a {
	width: 2.5rem;
	height: 2.5rem;
	line-height: 2.5rem;
	margin-left: 0.5em;
	margin-right: 0;
	border-radius: 100%;
	background-color: var(--light);
}

@media (max-width: 991px) {
	.site-footer [class^='col-'] {
		margin-bottom: 30px;
	}
}
@media (max-width: 767px) {
	.site-footer {
		padding-bottom: 0;
	}
	.site-footer .copyright-text,
	.design-credit,
	.site-footer .social-icons {
		text-align: center;
	}
}
.social-icons {
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
	float: 0;
}
.social-icons li {
	display: inline-block;
	margin-bottom: 0.25em;
}

.social-icons a {
	color: var(--mid);
	font-size: 1rem;
	display: inline-block;
	-webkit-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
	color: var(--light);
	background-color: var(--mid);
}
