.menu-btn {
	position: absolute;
	z-index: 1;
	right: 0.5em;
	top: 0.5em;
	height: 1rem;
	width: 2rem;
	cursor: pointer;
}

.menu-btn-burger {
	position: absolute;
	right: 1em;
	top: 0.5em;
	width: 33px;
	height: 4px;
	background: var(--secondary);
	border-radius: 3px;
}

.menu-btn-burger::before {
	content: '';
	position: absolute;
	right: 0;
	top: -0.5em;
	width: 33px;
	height: 4px;
	background: var(--secondary);
	border-radius: 3px;
}

.menu-btn-burger::after {
	content: '';
	position: absolute;
	right: 0;
	top: 0.5em;
	width: 33px;
	height: 4px;
	background: var(--secondary);
	border-radius: 3px;
}

.menu-btn-burger.open {
	transform: rotate(360deg);
	background: transparent;
}

.menu-btn-burger.open::before {
	transform: rotate(45deg) translate(0.25em, 0.5em);
}

.menu-btn-burger.open::after {
	transform: rotate(-45deg) translate(0.25em, -0.5em);
}

.nav {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	opacity: 0.9;
	visibility: hidden;
}

.nav.open {
	visibility: visible;
}

.intro-title {
	position: absolute;
	top: 0;
	left: 0;
	display: inline-block;
	width: 50%;
	padding-left: 1em;
	font-size: 1.5rem;
	text-transform: uppercase;
	visibility: visible;
}

.logo {
	font-family: 'Kalam', cursive;
}

.menu-nav {
	background: var(--light);
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	justify-content: center;
	height: 100vh;
	overflow: hidden;
	padding: 2em;
	list-style-type: none;
	transform: translateY(-100%);
}

.menu-nav.open {
	transform: translateY(0);
}

.menu-nav-item.active a {
	color: var(--mid);
}

.menu-nav-link {
	display: inline-block;
	font-size: 2rem;
	padding: 1em 0;
	text-transform: uppercase;
	font-weight: 700;
}

.menu-nav-link:hover {
	color: var(--primary);
}

@media screen and (min-width: 760px) {
	.menu-btn {
		visibility: hidden;
	}

	.nav {
		position: absolute;
		top: 0;
		right: 0;
		margin: 0 auto;
		max-width: 860px;
		visibility: visible;
	}

	.intro-title {
		width: 40%;
		padding-left: 1em;
	}

	.menu-nav {
		display: inline;
		padding: 0;
		float: right;
		width: 60%;
		background: transparent;
		list-style-type: none;
		overflow: hidden;
		transform: translateY(0);
	}

	.menu-nav-link {
		display: inline;
		font-size: 1.5rem;
		padding: 0;
		float: left;
		padding-right: 0.5em;
		text-decoration: none;
	}

	.menu-nav li:hover {
		color: var(--primary);
	}
}
