@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Montserrat:wght@400;500;700&display=swap');
:root {
	--primary: rgb(172, 59, 97);
	--primary-trans: rgb(172, 59, 97, 0.9);
	--secondary: rgb(18, 60, 105);
	--secondary-trans: rgb(18, 60, 105, 0.9);
	--mid: rgb(107, 60, 101);
	--dark: rgb(186, 178, 181);
	--light: rgb(238, 226, 220);
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	only screen and (-o-min-device-pixel-ratio: 3/2),
	only screen and (min--moz-device-pixel-ratio: 1.5),
	only screen and (min-device-pixel-ratio: 1.5) {
	html,
	body {
		width: 100%;
		overflow-x: hidden;
	}
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Montserrat', sans-serif;
	color: var(--secondary);
	line-height: 2.5em;
	background-color: var(--light);
}

h1,
h2,
h3 {
	font-weight: 500;
}

h1 {
	font-size: 2.5rem;
}
h2 {
	font-size: 2rem;
}
h3 {
	font-size: 1.5rem;
}

a {
	text-decoration: none;
	color: var(--secondary);
}

a:hover {
	color: var(--primary);
}

p a {
	color: var(--primary);
}

p a:hover {
	color: var(--mid);
}

.content-container {
	margin: 0 auto;
	max-width: 1000px;
}

.header {
	padding: 1em;
}

.intro-background {
	background: url('../img/taj-mahal.jpg') rgba(255, 0, 150, 0.2);
	background-size: cover;
	background-blend-mode: hard-light;
	min-height: 50vh;
}

.intro-desc-container {
	text-align: center;
	color: var(--light);
	margin: 2em 0;
	padding: 1em;
	background-color: var(--primary-trans);
}

.toc {
	color: var(--light);
	margin: 2em 0;
	padding: 1em;
	background-color: var(--primary-trans);
}

.toc a {
	color: var(--light);
	font-weight: 400;
	font-size: 1.2rem;
}

.toc a:hover {
	color: var(--secondary);
	font-weight: 500;
}

.content-card {
	padding: 1em 0;
}

.dark {
	background-color: rgb(186, 178, 181, 0.1);
}

.card-text {
	padding: 0 2em;
}

.lesson-container {
	padding: 2em;
}

.lesson-heading {
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	margin-bottom: 1em;
	width: 100%;
}

.lesson-heading > h2,
.lesson-heading > a {
	width: 100%;
}

.lesson-heading > a {
	font-weight: 600;
	text-align: right;
}

.lesson-cards {
	padding: 0;
	list-style-type: none;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	grid-gap: 1rem;
}

.lesson-cards li {
	background-color: rgb(252, 252, 252, 0.3);
	border-radius: 0.5rem;
}

.lesson-cards li > figure {
	max-height: 220px;
	overflow: hidden;
	border-top-left-radius: 0.5rem;
	border-top-right-radius: 0.5rem;
	position: relative;
}

.lesson-cards li > figure > img {
	width: 100%;
}

.lesson-cards li > figure > figcaption {
	position: absolute;
	bottom: 0;
	background-color: var(--secondary-trans);
	width: 100%;
}

.lesson-cards li > figure > figcaption > h3 {
	color: var(--light);
	padding: 0.75rem;
	font-size: 1.25rem;
}

.lesson-cards li > p {
	font-size: 1rem;
	line-height: 1.5;
	padding: 1rem 0.75rem;
}

.lesson-cards li > a {
	background-color: var(--secondary);
	border-radius: 0.25rem;
	text-align: center;
	display: inline-block;
	padding: 0.2rem 1rem;
	margin: 0.5rem;
	font-weight: 500;
	color: var(--light);
}

.lesson-cards li > a:hover {
	background-color: var(--primary);
	color: var(--light);
}

.site-footer {
	background-color: var(--primary);
	padding: 2.5em 2em 1em;
	font-size: 1rem;
	color: var(--light);
	line-height: 2rem;
}

.site-footer .footer-container {
	margin: 0 auto;
	max-width: 1200px;
}

.site-footer hr {
	border-top-color: var(--light);
	opacity: 0.5;
	margin: 1em 0;
}

.site-footer h6 {
	color: var(--dark);
	font-size: 1.2rem;
	text-transform: uppercase;
	margin-top: 0.3rem;
	letter-spacing: 0.2em;
}
.site-footer a {
	color: var(--light);
}
.site-footer a:hover {
	color: var(--mid);
	text-decoration: none;
}
.footer-links {
	padding-left: 0;
	list-style: none;
}
.footer-links li {
	display: block;
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
	color: var(--mid);
	text-decoration: none;
}

.site-footer .social-icons {
	text-align: right;
}

.site-footer .social-icons li {
	text-align: center;
}

.site-footer .social-icons a {
	width: 2.5rem;
	height: 2.5rem;
	line-height: 2.5rem;
	margin-left: 0.5em;
	margin-right: 0;
	border-radius: 100%;
	background-color: var(--light);
}

.site-footer [class^='col-'] {
	margin-bottom: 30px;
}

@media (max-width: 350px) {
	.lesson-cards {
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	}
}

@media (max-width: 767px) {
	.site-footer {
		padding-bottom: 0;
	}
	.site-footer .copyright-text,
	.design-credit,
	.site-footer .social-icons {
		text-align: center;
	}
}
.social-icons {
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
	float: 0;
}
.social-icons li {
	display: inline-block;
	margin-bottom: 0.25em;
}

.social-icons a {
	color: var(--mid);
	font-size: 1rem;
	display: inline-block;
	-webkit-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
	color: var(--light);
	background-color: var(--mid);
}
